/* Цвета логотипа #2196F3,  #000000 */
/* Цвет навигации и основного текста #212121 */
/* Цвет текста телефона и вторичного текста #757575 */

/* Белый текст color: #FFFFFF */
/* Вторичный от белого rgba(255, 255, 255, 0.6) */

/* Цвет фона #FFFFFF */
/* Цвет вторичного фона main #E5E5E5 */

/* Цвет интерактивных элементов в цвет логотипа #2196F3  */

/* Шрифты Raleway 700, Roboto 900, 700, 500, 400  */

:root {
  --brand-color: #2196f3;
  --brand-color-black: #000000;
  --brand-color-white: #ffffff;
  --icon-color: #afb1b8;
  --color-white: #ffffff;
  --background-color-section: #2f303a;
  --text-color: #212121;
  --text-color-two: #757575;
  --color-section-text-two: rgba(255, 255, 255, 0.6);
  --button-filter-color: #f5f4fa;
  --button-filter-color-hover: #188ce8;
  --color-border: #eeeeee;
}

body {
  background-color: var(--color-white);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
}

/* Сброс стилей */
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* .no-gap {
  display: block;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------- LOGO ------------------ */
.logo {
  display: inline-block;
  padding: 25px 0;
  margin-right: 90px;

  color: var(--brand-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-black {
  color: var(--brand-color-black);
}

.logo-white {
  color: var(--brand-color-white);
}

/* ---------------- HEADER ---------------- */
.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link,
.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--brand-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  align-items: center;
  text-decoration: none;
  color: var(--text-color-two);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.button-cont {
  border: none;
}

.icon-button {
  width: 100px;
  height: 100px;
}

.mail {
}

/* .contacts-link::before {
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-mail::before {
  background-image: url(../images/cont-mail.svg);
  background-size: contain;
} */

.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}

/* ---------------- FOOTER ----------------- */
.footer {
  padding: 60px 0;

  background-color: var(--background-color-section);
}

.footer-logo {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.address-link {
  display: block;

  text-decoration: none;
  color: var(--color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-item {
  margin-bottom: 10px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.mail,
.phone {
  color: var(--color-section-text-two);
}

/* --------------  HERO ------------------ */

.section-hero {
  padding: 200px 0;

  background-color: var(--background-color-section);
  text-align: center;
}

/* Описание фоновой картинки в Герое */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-hero {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--brand-color);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--button-filter-color-hover);
}

/* ---------- ПРЕИМУЩЕСТВА -------------- */

.section {
  padding: 95px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.function {
  display: flex;
}

.function-item {
  max-width: 270px;
}

.function-item:not(:last-child) {
  margin-right: 30px;
}

.function-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.function-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.function-text {
  color: var(--text-color-two);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --------------- УСЛУГИ КОМПАНИИ ----------- */

.no-padding-top {
  padding-top: 0;
}

.development {
  display: flex;
}

.development-item:not(:last-child) {
  margin-right: 30px;
}

.development-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* -------------- НАША КОМАНДА ---------------- */

.fon-team {
  background: var(--button-filter-color);
}

.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team {
  display: flex;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  color: var(--text-color-two);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.team-text-box {
  padding: 30px 0;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--brand-color);
}

.team-social-icon {
  fill: var(--icon-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

/* ----------- ПОСТОЯННЫЕ КЛИЕНТЫ ------------ */
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}

.icon-client {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------- ФИЛЬТР ПОРТФОЛИО ----------- */

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(--button-filter-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--brand-color);
  color: var(--color-white);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

/* ------------ ПОРФОЛИО -------------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--color-white);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;

  text-decoration: none;
}

.portfolio-text-box {
  padding: 20px 24px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.portfolio-title {
  margin-bottom: 5px;

  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color-two);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
